<ion-header>
  <ion-toolbar>
    <ion-title>
      File Download
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Enter URL</ion-label>
        <ion-input #input type="url"></ion-input>
      </ion-item>
        <!-- <ion-button (click)="downloadFile(input.value)" expand="full">Angular Download</ion-button> -->
        <ion-button (click)="downloadFileWithFileTransfer(input.value)" expand="full">Download File Transfer</ion-button>
    </ion-list>
    <!-- <ion-progress-bar *ngIf="percentage >0" [value]=percentage></ion-progress-bar> -->
    <ion-progress-bar *ngIf="showProgressBar" type="indeterminate"></ion-progress-bar>
  </div>
</ion-content>
